* {
    margin: 0;
    padding: 0;
}

#Title_area {
     display: block;
    width: 1920px;
    width: 480px;
    height: 70px;
    /* background: #ff0000; */
}
#Title_area img {
    height: auto;
    width: 55px;
    float: left;
    padding: 5px;
}
#Title_area h1 {
    font-size: 40px;
    line-height: 70px;
}
#time_area {
     display: block;
    width: 1920px;
    height: 40px;
    width: 480px;
    text-align: center;
}
.time {
    width: 480px;
    font-size: 26px;
    line-height: 30px;
    color: rgb(21, 255, 0);
}
.statsItem {
    display: block;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
}
html {
    font-size: 16px;
    font-family: 'Khand', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
    background: #181818;
}

ul {
    display: list-item;
    list-style: none;
    padding-left: 0;
}

img.icon {
    vertical-align: top;
    height: 51px;
    width: 88px;
    float: left;
    border: 1px solid;
}

.rank {
    text-align: center;
    width: 50px;
    font-size: 25px;
    line-height: 30px;
    float: left;
    background: #ff000085;
    animation-name: colorChanger;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    box-shadow: inset 0px 0px 9px 3px black;
}
@keyframes colorChanger {
    0% {color: rgb(0, 255, 255) ;}
    20% {color:  rgb(0, 255, 255) ;}

    20.01% {color: rgb(251, 255, 0);}
    40% {color: rgb(251, 255, 0);}

    40.1% {color: rgb(0, 255, 255) ;}
    60% {color: rgb(0, 255, 255) ;}

    60.1% {color: rgb(251, 255, 0);}
    80% {color: rgb(251, 255, 0);}

    80.1% {color: rgb(0, 255, 255) ;}
    100% {color: rgb(0, 255, 255) ;}
}

.country {
    text-align: left;
    width: 335px;
    /* background: blue; */
    float: left;
    font-size: 25px;
    line-height: 30px;
}

.now {
    text-align: right;
    width: 245px;
    float: left;
    font-size: 25px;
    line-height: 30px;
    /* background: aliceblue; */
}

.now-pc {
    text-align: left;
    width: 130px;
    margin-left: 15px;
    float: left;
    font-size: 25px;
    line-height: 30px;
    color: rgb(255, 0, 0);
    /* background: aqua; */
}
.statsItem li {
    margin-top: 0px;
    height: 60px;
    /* background: blueviolet; */
    width: 480px;
    display: block;
    overflow: hidden;
}
.colom_one{
     display: block;
    width: 1920px;
    width: 480px;
    float: left;
}
.colom_two{
     display: block;
    width: 1920px;
    width: 480px;
    float: left;
}
.colom_three{
     display: block;
    width: 1920px;
    width: 480px;
    float: left;
}
.colom_four{
     display: block;
    width: 1920px;
    width: 480px;
    float: left;
    animation-name: animationUp;
    animation-duration: 180s;
    animation-iteration-count: infinite;
}
@keyframes animationUp {
    0% {margin-top: 0px;}
    15% {margin-top: 0px;}

    15.01% {margin-top: -1080px;}
    30% {margin-top: -1080px;}

    30.1% {margin-top: -2160px;}
    45% {margin-top: -2160px;}

    45.1% {margin-top: -3240px;}
    60% {margin-top: -3240px;}

    60.1% {margin-top: -4320px;}
    75% {margin-top: -4320px;}

    75.1% {margin-top: -5400px;}
    90% {margin-top: -5400px;}

    90.1% {margin-top: -6480px;}
    95% {margin-top: -6480px;}

    95.1% {margin-top: -7320px;}
    100% {margin-top: -7320px;}
}
